
<% if params[:controller] == 'about' %>

<div class="well">
	<h3>Location Info</h3>
		<ul>
			<li>The BookStore</li>
			<li>2504 Avent Ferry Rd</li>
			<li>Apt 203</li>
			<li>Raleigh, NC 27306</li>
			<li>Phone: 919-945-6947</li>
			<li>Email: vbhat@ncsu.edu</li>
		</ul>
</div>

<% end %>