<div id="books-index">
	<div class="row">
		
		<div class="col-md col-sm-3">
			<h3>Ruby On Rails Power</h3>
			<%= image
		</div>
	
		<div class="col-md col-sm-3">
		</div>
		
		<div class="col-md col-sm-3">
		</div>
		
		<div class="col-md col-sm-3">
		</div>
	
		<div class="col-md col-sm-3">
		</div>
	
	</div>
	<div class="row">
		<div class="col-md col-sm-3">
		</div>
	
		<div class="col-md col-sm-3">
		</div>
		
		<div class="col-md col-sm-3">
		</div>
		
		<div class="col-md col-sm-3">
		</div>
	
		<div class="col-md col-sm-3">
		</div>
	
	</div>
</div>